body {
    padding-top:20px;
    width: 550px;
    text-align: center;
    margin:auto;
    background: #111827;
    font-family: 'Inter', sans-serif;  
    color: #FFFFFF;
}
#inputNumber{
    border: 2px solid #B295FF;
    border-radius: 10px;
    background: #6943FF;
    padding:9px 0px;
    margin:0px;
    text-align: center;
    width: 100px;
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 40px;
    font-weight: 800px;
    font-style: bold;
}
#btn{
    margin:25px 0px;
    background: #FFFFFF;
    border: 0px solid;
    padding: 9px 27px;
    border-radius: 20px;  
}
#headerSection{
    background: #6943FF;
    background-size: cover;
    padding:20px 0px 0px 0px;
    border-radius: 20px; 
}

#convertSection{
    margin:30px 0px 0px 0px;
    border: 1px solid #1F2937;
    background: #1F2937;
    background-size: cover;
    color: #CCC1FF;
    border-radius: 20px;
}

#length {
    padding:10px 0px 5px 0px;
    border: 0px solid #273549;
    background: #273549;
    margin: 25px;
    border-radius: 20px;
    font-weight: 400px;
    font-size: 20px;
}

#Volume {
    padding:10px 0px 5px 0px;
    border: 0px solid #273549;
    background: #273549;
    margin: 25px ;
    border-radius: 20px;
    font-size: 20px;
    
}

#Mass {
    padding:10px 0px 5px 0px;
    border: 0px solid #273549;
    background: #273549;
    margin: 25px;
    border-radius: 20px; 
    font-size: 20px;
}

#conversionText {
    color: white;
    font-size: 14px;
}